
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-3" style="background-color:red;height:25px;">

    </div>
    <div class="col-md-3" style="background-color:green;height:25px;">

    </div>
    <div class="col-md-3" style="background-color:orange;height:25px;">

    </div>

    <input type="text" id="txtUsuario"/>
    <input type="text" id="txtContasenia" />
    <button id="btnValidar" class="btn btn-sm btn-info"  >Iniciar Sesion</button>
</div>

